if [fields][tag]=="kafka-server-xyc.log"{
            elasticsearch{
                hosts => ["10.1.3.123:9200","10.1.3.124:9200","10.1.3.125:9200"]
                    manage_template => false
                    index => "kafka-server-xyc"
                user => elastic
                password => elastic
            }
        }

